@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@media (max-width: 920px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
        width: 700px;
    }
}

@media (max-width: 720px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
        width: 500px;
    }
}
@media (max-width: 500px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 300px;
    }
  }


body {
    background-color: rgb(53, 53, 53);
}

body h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

div {
    background: rgba(245, 245, 245, 0.5);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 20px 15px rgba(204, 204, 204, 0.1);
    margin: 15px 15px;
    text-align: center;
}
.container{
    background-color: rgb(53, 53, 53);
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Roboto', sans-serif;
    box-shadow: none;
    margin: 0px auto;
    padding: 0px auto;
}

#profile-picture img {
    box-shadow: 5px 5px 12px;
    margin: 10px auto;
    padding: 10px auto;
    border-radius: 50%;
}

#profile-picture {
    text-align: center;
}

.cards ul {
    padding: 30px 30px;
}

.cards h2 {
    text-align: center;
}

.cards ul>li {
    display: inline;
    padding: 15px;
}

.cards ul>li>a>i {
    /* text-align: center; */
    /* list-style: none; */
    /* display: inline; */
    /* padding: 10px; */
    font-size: 30px;
}

a {
    color: rgba(0, 0, 0, 0.7);
}

a:hover {
    color: rgba(0, 0, 0, 1)
}